$colors: (
  white: $white,
  red: $red,
  black: $black,
  black2: $black2,
  gray-hover: $gray-hover,
  gray: $gray,
  blue: $blue,
  dark: $dark,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger
);