$white: #FFFFFF;
$red: #cc2031;
$black: #333333;
$black2: #555555;
$gray-hover: #E3E3E3;
$gray: #ECECEC;
$dark: #000000;
$blue: #0053a1;
$success: #449d44;
$info: #0053a1;
$warning: #f8a400;
$danger: #cc2031;

$border-radius: 3px;
$header-height: 56px;
$footer-height: 223px;
