@import "styles/sass/_vars.scss";

amb-modal-dialog .modal-dialog {
  max-width: 70% !important;
}

.c-w {
  width: 70% !important;
}

.red{
  color: #cc2031;
}

.m-rigth {
  margin-right: 15px;
  float: right;
}

.left {
  float: left;
}
.block-b {
  display: block !important;
}
.plus {
  width: 28% !important;
}
amb-radio {
  float: left;
}

.form-endereco {
  width: 63%;
  display: inline-block;
  margin-right: 25px;
}

.summary-panel {
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #cc2031;
  color: #cc2031;
  font-size: 14px;
  label {
    color: #cc2031;
    font-size: 11px;
  }
}
.rigth {
  float: right;
}
.w-container-btn {
  width: 40%;
}
.m-15 {
  margin-right: 15px;
}
// amb-table {
//   width: 75% !important;
//   margin: 0px auto;
// }

.component {
  width: 60%;
  margin-top: 15px;
}

.comboSearch {
  width: 30%;
  display: inline-block;
}

label {
  display: inline-block;
  font-size: 12px;
  color: rgba(158, 156, 156, 0.9);
  margin-bottom: 8px;
}

.returnData {
  font-size: 14px;
  color: black;
}

.historico {
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(158, 156, 156, 0.9);
  color: rgba(158, 156, 156, 0.9);
  font-size: 14px;
  label {
    color: rgba(158, 156, 156, 0.9);
  }
}

.component {
  width: 100%;
}

.returnData {
  font-size: 14px;
  color: black;
}

.container-relatorio {
  width: 29%;
  padding-top: 10px;
  display: inline-block;
}

.container-historico {
  width: 9.7%;
  padding-top: 10px;
  display: inline-block;
}

.summary-panel {
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #cc2031;
  color: #cc2031;

  label {
    font-size: 11px;
  }
}

.router-icons {
  font-size: 14px;
  margin-top: -20px;
  margin-bottom: -20px;
  float: left;
}

.summary-panel {
  border-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-color: #cc2031;
  color: #cc2031;
  font-size: 14px;
}

.component {
  width: 100%;
  margin-top: 15px;
}

.form {
  width: 30%;
  display: inline-block;
  margin-right: 25px;
}

.form-net {
  width: 22%;
  display: inline-block;
  margin-right: 25px;
}

label {
  display: inline-block;
  font-size: 12px;
  color: rgba(158, 156, 156, 0.9);
  margin-bottom: 8px;
}

.router-icons {
  border-top: 1px;
  border-top-style: solid;
  border-top-color: #cc2031;
  color: #cc2031;
  font-size: 14px;
  width: 103%;
  margin-left: -1.5%;
  // margin-bottom: 30px;
}

/*Produtos*/

.produtos {
  padding: 60px 0;
}

.produtos_lista li {
  background: gray;
  text-align: center;
  list-style-type: none;
}

.produtos_lista li img {
  margin: 0 auto;
}

.produtos_lista li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 20px;
}

.produtos_lista li h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 2px auto;
}

.produtos_lista li p {
  padding: 10px 20px 20px 20px;
  text-align: left;
}

.produtos_icone {
  background: #000;
  padding: 20px;
}

.produtos_icone img {
  border-radius: 20px;
}

.subtitulo {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.subtitulo:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 8px auto;
}

.subtitulo-interno {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subtitulo-interno:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 8px 0;
}

.grid-1-3 {
  width: 30%;
  float: left;
  margin: 0% 1.6%;
  height: 330px;
}
